<div *ngIf="stars==0">
  <h5>No rating available</h5>
</div>
<div *ngIf="stars>0">
  <span class="fa fa-star" [class.checked]="stars>=1" (click)="changeRating(1)"></span>
  <span class="fa fa-star " [class.checked]="stars>=2"(click)="changeRating(2)"></span>
  <span class="fa fa-star " [class.checked]="stars>=3"(click)="changeRating(3)"></span>
  <span class="fa fa-star" [class.checked]="stars>=4"(click)="changeRating(4)"></span>
  <span class="fa fa-star"[class.checked]="stars>=5"(click)="changeRating(5)"></span>
</div>
